/* src/app/app.component.css */

header, footer {
    text-align: center;
  }
  
  main {
    margin-top: 20px;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  nav {
    margin-bottom: 20px;
  }
  
  .active-link {
    font-weight: bold;
    color: #3f51b5; /* Angular Material primary color */
  }
  