.product-card {
    margin: 16px;
  }
  
  mat-card {
    width: 300px;
    display: inline-block;
  }
  
  .card-content {
    display: flex;
    align-items: center; 
  }
  
  .card-content img {
    margin-right: 16px;  
  }
  